DATABASE_URL="postgresql://usuario:contraseña@host:puerto/nombre_db?schema=public"
JWT_SECRET=mi_secreto_superseguro
JWT_EXPIRES_IN=3600s
EMAIL_SERVICE=gmail
EMAIL_USER=email@gmail.com
EMAIL_PASS=email_password_or_app_password
EMAIL_FROM_NAME='ParentIn' 
EMAIL_FROM_ADDRESS=cuenta@gmail.com